<style type="text/css">
@media all and (max-width: 768px)  {
	#LoudDevelopmentTitle{
		font-size:  30px;
	}
}
</style>
<section>
	<div class="content centered">
		<h2 style="text-transform: none; color: #ff003c">iOS APP</h2>
		<h4 class="centered subtitle">LOUD is the best way to use Soundcloud</h4>
		<p><strong>SoundCloud</strong> is the most famous platform to share music. All tracks are available for free and you can have a better experience with them by using a less social context service. LOUD is focused more on <strong>music context</strong>, offering new features to organize your SoundCloud music like a real <strong>music library</strong>, in an easy and beautiful way.</p>
		<hr class="no-color">
		<div class="row">
			<div class="col-sm-12">
				<img width="200" src="/projects/loud/icon.jpg">
				<p></p>
				<img src="https://developers.soundcloud.com/assets/powered_by_black-4339b4c3c9cf88da9bfb15a16c4f6914.png">
			</div>
		</div>
		<hr class="no-color">
		<p>Listening to single tracks and long tracks together can be annoying, so LOUD allows you to manage your favorite podcast in a specific library, dividing them by Radio Stations. In your profile, Likes are orginized and divided by Users, and you can show your Followings, ordering them even by name. </p>

</div>
</section>
<section style="background: #ff003c; padding: 50px 0">
	<div class="content centered">
		<div class="row">
			<div class="col-md-4">
				<div class="features-box">
					<i class="glyphicon glyphicon-music"></i>
					<h4>LIBRARY</h4>
					<p>Keep all your tracks together, also divided by ARTIST or ALBUM</p>
				</div>
				<div class="features-box">
					<i class="glyphicon glyphicon-cd"></i>
					<h4>PROFILE</h4>
					<p>Check your Likes, even ordered by User, and your Following</p>
				</div>
			</div>
			<div class="col-md-4">
			<img class="b-lazy" data-src="/projects/loud/loud_menu.png" src="/projects/loud/loud_menu.png">
			</div>
			<div class="col-md-4">
				<div class="features-box">
					<i class="glyphicon glyphicon-headphones"></i>
					<h4>PODCAST</h4>
					<p>Manage your long tracks, such as Live Recordings, by Radio Station</p>
				</div>
				<div class="features-box">
					<i class="glyphicon glyphicon-globe"></i>
					<h4>DISCOVER</h4>
					<p>Set a Discover song to keep track of all related tracks.</p>
				</div>
			</div>
		</div>
</div>
</section>
<section>
	<div class="content centered">
		<h4 class="centered subtitle">Organize your library any way you want to</h4>
		<p>LOUD offers a free music streaming service using all uploaded music on SoundCloud, which is not just a Social Network but it can be seen as a <strong>big resource</strong> of music as well. Create Artists, Albums and Radio Stations, and enjoy them whenever and wherever in the best way.</p>
		<br>
		<h4 class="centered subtitle">In your <strong>Library</strong>, tracks are not listed showing their <strong>uploader</strong> but their real <strong>artist</strong>.</h4>
		<img class="b-lazy" data-src="/projects/loud/example1.png" src="/projects/loud/example1.png">
		<p></p>
		<br>
		<p>Although some copyrighted songs are missing, on SoundCloud you can find a lot of unreleased tracks, cover songs, podcasts, live recordings, which are not available on other platforms.</p>
	</div>
</section>
<div style="background-image: url('/projects/loud/p2.jpg')" class="parallax1">
	<div class="content centered">
		<h2 style="color: #ff003c">FEATURES</h2>
		<h4 class="centered subtitle" style="color: #cdcdcd">Find out more about LOUD's features</h4>
		<a class="button-white btn-margin goToSection" href="#LoudLibrary" style="color: #ff003c">Library</a><a href="#LoudPodcast" class="goToSection button-white btn-margin" style="color: #ff003c">Podcast</a><a href="#LoudPlayer" class=" goToSection button-white btn-margin" style="color: #ff003c">Player</a><a href="#LoudProfile" class="goToSection button-white btn-margin" style="color: #ff003c">Profile</a><a href="#LoudDiscover" class="goToSection button-white btn-margin" style="color: #ff003c">Discover</a><a href="#LoudStream" class="goToSection button-white btn-margin" style="color: #ff003c">Stream</a>

	</div>
</div>
<section id="LoudLibrary">
	<div class="content centered">
		<h2 style="color: #ff003c">Library</h2>
		<h4 class="centered subtitle">No more playlists to organize your music</h4>
		<p>Library keeps all your favorite music together, organizing tracks by artist and album. Find tracks on SoundCloud, set artist and album and put them  into your library. Easy and Fast.</p>
		<img class="b-lazy" data-src="/projects/loud/loud_library.jpg" src="/projects/loud/loud_library.jpg">
		<div class="row hidden-xs">
			<div class="col-sm-3 col-sm-offset-1"><p class="text-right" style="color: #ff003c">ALBUMS</p></div>
			<div class="col-sm-4"><p style="color: #ff003c">TRACKS</p></div>
			<div class="col-sm-3"><p class="text-left" style="color: #ff003c">ARTISTS</p></div>
		</div>
		<p></p>
		<p>Quickly browse your whole collection, listening to a specific album or a single artist.</p>
		<p>It's like <strong>iTunes</strong> or <strong>iOS Music</strong>, but, using SoundCloud's music, everything is <strong>free<strong>.</p>
	</div>
</section>
<div id="LoudPodcast" class="parallax1" style="background: #ff003c">
	<div class="content centered">
		<h2>PODCAST</h2>
		<h4 class="centered subtitle">Listening to single tracks and long tracks together can be annoying</h4>
		<p>On SoundCloud you can find a lot of radio podcasts or live recordings, which can be annoying while listening to a set of single tracks. LOUD offers a specific section, like Library section, to save and organize these long tracks, dividing them by <strong>Radio Station</strong>. Radio Station has the same meaning of Artist in the Library.</p>
		<hr class="no-color">
		<img class="image b-lazy" data-src="/projects/loud/podcast_img.png" src="/projects/loud/podcast_img.png">
		<hr class="no-color">
		<p>While adding a track into Library, LOUD is going to recognize track's duration so to suggest where selected track should go for having the best experience.</p>

	</div>
</div>
<section id="LoudPlayer">
	<div class="content centered">
		<h2 style="color: #ff003c">PLAYER</h2>
		<h4 class="centered subtitle">Enough with all those boring and small buttons</h4>
		<p>A beautiful gestures-based player is waiting for you. No button but you can do everything with gestures. Swipe left to skip song and swipe right to come back. Double tap to pause and play song. Swipe up or down to hide player.</p>
		<img class="image b-lazy" data-src="/projects/loud/loud_player.jpg" src="/projects/loud/loud_player.jpg">
		<hr>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			<p class="icon-p"><i style="color: #ff003c" class="glyphicon glyphicon-hand-right"></i></p>
			<p>Swipe left or right to change track</p>
			<p class="icon-p"><i style="color: #ff003c" class="glyphicon glyphicon-hand-up"></i></p>
			<p>Swipe up or down to hide player</p>
			<p class="icon-p"><i style="color: #ff003c" class="glyphicon glyphicon-play"></i></p>
			<p>Double tap to pause and play track</p>
			<p class="icon-p"><i style="color: #ff003c" class="glyphicon glyphicon-refresh"></i></p>
			<p>Repeat track option</p>
			<p class="icon-p"><i style="color: #ff003c" class="glyphicon glyphicon-random"></i></p>
			<p>Random playing</p>

			<!-- 	<ul class="text-left">
					<li>A must-have app for storing your private moments and data on your phone</li>
					<li>A must-have app for storing your private moments and data on your phone</li>
					<li>A must-have app for storing your private moments and data on your phone</li>
					<li>A must-have app for storing your private moments and data on your phone</li>
				</ul> -->
			</div>
		</div>
		<hr>
		<h4 class="centered subtitle">Options View</h4>
		<p>Player gives access the options, which allow you to add playing track into Library, Podcast or a playlist, create playlists, setting Discover track, write a tweet about what you are listening to or copy the SoundCloud link into your clipboard.</p>
		<p>LOUD keeps track of your last typing as well, helping you to insert tracks into library. </p>
		<img class="image img-block" src="/projects/loud/loud_options.jpg">
		<br>
		<p>LOUD's player provides random and repeat functions, missing in other apps and, if it's closed, you can see what track is playing everywhere, in a minified player on the bottom.</p>
	</div>
</section>
<div id="LoudProfile" class="parallax1">
	<div class="content centered">
		<h2 style="color: #ff003c">PROFILE</h2>
		<h4 class="centered subtitle">Your tracks, playlists, likes and followings</h4>
		<p>LOUD offers a profile view to see your tracks and playlists, likes and following. The features about LOUD's profile is that you can classify your likes by uploader, browsing them in an easier way, and show your followings, which can be even ordered by name.</p>
		<hr class="no-color">
		<img class="image b-lazy" data-src="/projects/loud/loud_profile.png" src="/projects/loud/loud_profile.png">
		<hr class="no-color">
		<p>Everything in the right place, with usefull functions.</p>
	</div>
</div>
<section id="LoudDiscover">
	<div class="content centered">
		<h2 style="color: #ff003c">DISCOVER</h2>
		<h4 class="centered subtitle">New music recommendations based on what you are listening to</h4>
		<p>Set a playing song as Discover Track to see its related songs. Results will be saved in Discover section and you will be free to listen to them whenever you want. You will love new tracks.</p>
		<img class="image b-lazy" data-src="/projects/loud/loud_discover.jpg" src="/projects/loud/loud_discover.jpg">
	</div>
</section>
<div id="LoudStream" class="parallax1" style="background: #ff003c">
	<div class="content centered">
		<h2>STREAM</h2>
		<h4 class="centered subtitle">New music from your following</h4>
		<p>Stream shows every new uploaded track and repost by your followings.</p>
		<hr class="no-color">
		<img class="image b-lazy" data-src="/projects/loud/loud_stream.png" src="/projects/loud/loud_stream.png">
		<hr class="no-color">
		<p>Search new music. Discover songs. Grown your Library.</p>
	</div>
</div>
<section id="LoudVideo">
	<div class="content centered">
		<h2 style="color: #ff003c">LOUD</h2>
		<h4 class="centered subtitle">Change your way to use SoundCloud</h4>
		<p>Take a look to the video here below to see how LOUD works.</p>
		<br>
		<iframe id="video" src="https://www.youtube.com/embed/32ZtMs9uvwg?ecver=1" frameborder="0" allowfullscreen></iframe>
		<hr class="no-color">
		<img src="/img/appstore.svg" width="200">
	</div>
</section>
<div style="background-image: url('/projects/loud/party.jpg')" class="parallax1">
	<div class="content centered">
		<hr class="no-color">
		<hr class="no-color">
		<hr class="no-color">
		<hr class="no-color">
	</div>
</div>
<section style="position: relative">
<a href="https://github.com/giuseppebianchi/loud" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
	<div class="content centered">
		<h2 id="LoudDevelopmentTitle" style="color: #ff003c;">DEVELOPMENT</h2>
		<h4 class="centered subtitle">Apache Cordova App</h4>
		<p>LOUD is a hybrid app, based on Apache Cordova, made just with HTML, CSS and JS. Views, models and collections are managed by <strong>Backbone</strong> as MVC framework. Temporary data are saved on localstorage, instead library tracks are saved by using <strong>PouchDB</strong>, an in-browser lightweight NoSQL database. Why PouchDB? Beacause in future versions of LOUD (or a website) it can be used as a direct interface to <strong>CouchDB</strong>-compatible servers keeping the users' data in <strong>sync</strong>.</p>
		<br>
		<p>Sadly LOUD is <strong>not available</strong> to download because of some SoundCloud's restrictions, such as Rate Limit, but you can find source code on my GitHub if you would like to try it or improve it. If you are a developer and you like SoundCloud, fork my project on GitHub and contact me to work together.</p>
		<br>
		<a class="button-reverse" href="https://github.com/giuseppebianchi/loud" target="_blank"><i class="icon-github-circled"></i> GITHUB PROJECT</a>
		<a class="button-reverse" href="https://www.dropbox.com/sh/0nf4k6ejbbbnekc/AABKPRz-CrlShrDvPoo2OqXda?dl=0" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp DESIGN DOCUMENT</a>	
	</div>
</section>
<script>
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("#video").parent().fitVids();
  });
</script>