<style type="text/css">
@media all and (max-width: 768px)  {
	#menu-gif{
		width: 100% !important;
	}
}
</style>
<section>
	<div class="content centered">
		<h2>mynameisbianchi.it</h2>
		<h4 class="centered subtitle">NodeJS + ExpressJS + Ideas</h4>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-5">
				<img width="200" src="/img/icon-imac.png">
			</div>
		</div>
		<p></p>
		<p></p>
		<p><strong>mynameisbianchi.it</strong> is my personal space where I can show my works and projects, my thoughs and my experinces, with customized templates made by me. I've started building this website to learn NodeJS because I'm a frontend developer and it's so nice using Javascript also as server-side language.</p>


	</div>
</section>
<div class="parallax1">
	<div class="content centered">
	<h2>HOW IT WAS BUILT</h2>
	<h4 class="centered subtitle">Tecnologies</h4>
	<p>My website is a NodeJS web application, built using ExpressJS framework, which makes everything easier, and deployed on Heroku, a platform-as-a-service.</p>
	<img src="/projects/mynameisbianchi/nodejs.png" width="200">
	<p>This web app doesn't use a database and a CMS. That's why, using the free hosting solution by Heroku, I can't have a database. Although, a lot of data are dynamic, managed by a <strong>JSON</strong> file, which I'd like to export it on Dropbox for a better use while editing. Instead, in homepage, my picture and short biography are obtained from my Twitter profile using <strong>Twitter API</strong>.</p>
	</div>
</div>
<section>
	<div class="content centered">
		<div class="row">
			<div class="col-md-4">
				<img src="/projects/mynameisbianchi/node.png" style="margin: 40px 0">
				<p class="text-justify"><a href="https://nodejs.org/en/" target="_blank">Node.js</a> is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>
			</div>
			<div class="col-md-4">
				<img src="/projects/mynameisbianchi/express.png" style="margin: 85px 0 53px">
				<p class="text-justify"><a href="http://expressjs.com/" target="_blank">Express</a> is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
			</div>
			<div class="col-md-4">
				<img src="/projects/mynameisbianchi/heroku.png" style="margin: 35px 0 28px">
				<p class="text-justify"><a href="https://www.heroku.com/home" target="_blank">Heroku</a> is a container-based cloud Platform as a Service (PaaS). Developers use Heroku to deploy, manage, and scale modern apps.</p>
			</div>
		</div>
	</div>
</section>
<div class="parallax1">
	<div class="content centered">
		<h2>UI DESIGN</h2>
		<h4 class="centered subtitle">Graphic Template</h4>
		<img width="200" src="/projects/mynameisbianchi/window.png">
		<p></p>
		<p>Each template are made by me, althogh I've started from a free bootstrap template. The coolest thing about design is that the homepage slideshow and menu are made by using just <strong>CSS</strong>.</p>

		<p>The slideshow in homepage uses <strong>animation</strong> property in CSS, which can be used to animate many other CSS properties. In this case animation changes opacity property for each slide.</p>
		<hr class="no-color">
</div>
<div class="parallax1" style="background-image: url('/projects/mynameisbianchi/slideshow.png'); height: 400px">
	<div class="content centered">

</div>
</div>
<div class="parallax1">
	<div class="content centered">
		<br>
		<p>The <strong>menu</strong>'s animation is handled by using just a <strong>checkbox</strong> and CSS transform properties.</p>
		<br>
		<img id="menu-gif" src="/projects/mynameisbianchi/menu.gif" width="50%">
		<br>
		<br>
		<p></p>
		<p>You can see how it works in this Codepen example.</p>
		<a href="https://codepen.io/giuseppebianchi/pen/bdwyJE" class="button-white" target="_blank">Menu Example</a>
		<hr class="no-color">
		<p><strong>Javascript</strong> is just used for tweets slider.</p>

		</div>
	</div>
</div>
<section>
	<div class="content centered">
		<h2>STORIES & BLOG</h2>
		<h4 class="centered subtitle">My technical posts and my personal experiences</h4>
		<p><strong>Blog</strong> is the section where I would like to write some tutorial, sharing what I'm able to do.</p>
		<br>
		<p></p>
		<p><strong>Stories</strong> is about me, indeed. I used to share my photogalleries on <strong>Storehouse.co</strong>, as a blog of my personal experiences or passions. Sadly they closed in 2016, so I replied their templates on my bianchii.com beacause I really liked that app and its User Experience and User Interface. <a class="link" href="/about/storehouse" target="_blank">Here</a> you can find my old stories made by Storehouse.</p>
		<p></p>
		<br>
		<p>Anyway I decided to rebuild a platform like Storehouse, just for me, with customized templates for my photogalleries, which they are going to describe my personal experiences.</p>
		<p>I use standard CSS classes for pictures and text to make writing posts easy and simple.</p>
		<p>If you want to see my new revisited stories or my blog check the links here below.</p>
		<a class="button-black" href="#">Blog</a><a class="button-black" href="/about/stories">Stories</a>
	</div>
</section>
