<style type="text/css">
@media all and (max-width: 768px)  {
	#menu-gif{
		width: 100% !important;
	}
}
</style>
<section>
	<div class="content centered">
		<h2>Social Develop</h2>
		<h4 class="centered subtitle">J2EE + MongoDB</h4>
		<p></p>
		<p><strong>Social Develop</strong> is a web application I built for my Web Engineering Course, where developers can join and collaborate on projects</p>
		<br>
		<p><strong>Source code</strong> is available on my GitHub page.</p>
		<a class="button-black" href="https://github.com/giuseppebianchi/SocialDevelop" target="_blank"><i class="icon-github-circled"></i> Social Develop</a>
		<p></p>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<img src="/projects/socialdevelop/03.png">
			</div>
		</div>

	</div>
</section>
<div class="parallax1">
	<div class="content centered">
	<h2>Site Specifications</h2>
	<p style="text-align: justify">SocialDevelop is a web support tool for collaborative software development. While other sites like GitHub focus on the actual code writing and versioning, our system stays on a “meta” level, namely its aim is to publicize the software projects and identify suitable freelance developers to employ, automatically creating their “references”.</p>
	<p style="text-align: justify">The site is similar to a regular forum, but instead of discussion threads, SocialDevelop contains projects.</p>
	</div>
</div>
<section>
	<div class="content centered">
	<h2>REQUIRED TECHNOLOGIES</h2>
	<ul style="text-align: left">
		<li>The basic structure of the site must be created using HTML5 (with XML or Polyglot syntax).The validation of all the site pages with respect to the chosen HTML flavour is an important part of the development and must be reported in the documentation.</p>
		<li>Τhe site layout must be realised using CCS style sheets. The layout can be freely based on third party layouts available on the web or shown during the lectures. In this case, the degree of customization of the layout will be taken into account in the final project assessment. A responsive layout is not required, but strongly suggested.</p>
		<li>For the client-side programming, JavaScript is the required language. It is possible to include libraries developed by third parties, provided that they have suitable cross-browser portability and that they are described in the project documentation. However, any abuse of these technologies is not recommended, especially when they can be replaced with a suitable use of HTML, CSS, etc. In general, your site should be functional also with JavaScript disabled. The site without scripts may be less “friendly” or allow the access to “core” functionalities only, but sites whose dynamics is entirely script-based are not allowed. However, scripts can play a more important a role in the functionalities whose users are restricted and pre-determined (e.g., in the back-end functionalities for administrators, but not in the public front-end or in the login procedure).</p>
		<li>For the server-side programming, Java (servlets, JSP) is the required language. Any DBMS and template engine can be employed, if required. Again, it is possible to rely on external libraries.</p>
	</ul>
	</div>
</section>
<section>
	<div class="content centered">
		<div class="row">
			<div class="col-md-6">
				<img src="/projects/socialdevelop/j2ee.png" style="margin: 40px 0">
				<p class="text-justify"><a href="https://nodejs.org/en/" target="_blank">J2EE</a>, the Java 2 Platform, Enterprise Edition, is a set of coordinated specifications and practices that together enable solutions for developing, deploying, and managing multi-tier server-centric applications</p>
			</div>
			<div class="col-md-6">
				<img src="/projects/socialdevelop/mysql.png" style="margin: 5px 0 48px">
				<p class="text-justify"><a href="https://www.heroku.com/home" target="_blank">MySQL</a> powers the most demanding Web, E-commerce, SaaS and Online Transaction Processing (OLTP) applications. It is a fully integrated transaction-safe, ACID compliant database with full commit, rollback, crash recovery and row level locking capabilities. MySQL delivers the ease of use, scalability, and performance.</p>
			</div>
		</div>
	</div>
</section>
