extends layout

block content
    script(type='text/javascript', src='/js/')
    #video_element(style="height:80%")
      .huge-title
        .col-sm-12
          h1.title-page Stories
          p See my stories about my passions and my experiences.
      .shade
  
      #background(style="background-image: url(/img/sf2.jpg);")
     
    .wrapper
      
      .container0
        section
          // ABOUT SECTION
          #AboutMe.content.centered
            //h2 Stories
            p I'm still working on this section. It's going to come soon.
            p For now check my old Storehouse Stories here below
            a.button(href="/about/storehouse", target="_blank") Storehouse
        // End of Content
        .parallax1
          // Start Content
          .content.centered
            p Revisiting of Storehouse.co, closed in 2016.
        // End of Content
