
.icon-heart:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-codepen:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-forward:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-right-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-down-open:before { content: '\e80e'; } /* '' */
.icon-circle:before { content: '\e80f'; } /* '' */
.icon-circle-empty:before { content: '\e810'; } /* '' */
.icon-circle-thin:before { content: '\e811'; } /* '' */
.icon-codeopen:before { content: '\e812'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-dropbox:before { content: '\e814'; } /* '' */
.icon-css3:before { content: '\e815'; } /* '' */
.icon-connectdevelop:before { content: '\e816'; } /* '' */
.icon-behance:before { content: '\e817'; } /* '' */
.icon-apple:before { content: '\e818'; } /* '' */
.icon-github-circled:before { content: '\e819'; } /* '' */
.icon-html5:before { content: '\e81a'; } /* '' */
.icon-twitter:before { content: '\e81b'; } /* '' */
.icon-gplus:before { content: '\e81c'; } /* '' */
.icon-linkedin:before { content: '\e81d'; } /* '' */
.icon-stackoverflow:before { content: '\e81f'; } /* '' */
.icon-skype:before { content: '\e820'; } /* '' */
.icon-instagram-filled:before { content: '\e821'; } /* '' */
.icon-skype-1:before { content: '\e822'; } /* '' */
.icon-buffer:before { content: '\e823'; } /* '' */
.icon-linkedin-1:before { content: '\e824'; } /* '' */
.icon-twitter-bird:before { content: '\e825'; } /* '' */
.icon-linkedin-2:before { content: '\e826'; } /* '' */
.icon-github-circled-1:before { content: '\e827'; } /* '' */
.icon-soundcloud:before { content: '\e828'; } /* '' */
.icon-html5-1:before { content: '\e829'; } /* '' */
.icon-stackoverflow-1:before { content: '\e82a'; } /* '' */
.icon-vimeo-1:before { content: '\e82b'; } /* '' */
.icon-facebook-1:before { content: '\e82c'; } /* '' */
.icon-appstore:before { content: '\e82d'; } /* '' */
.icon-evernote:before { content: '\e82e'; } /* '' */
.icon-facebook-2:before { content: '\e82f'; } /* '' */
.icon-vimeo:before { content: '\e830'; } /* '' */
.icon-dropbox-1:before { content: '\e831'; } /* '' */